<footer class="bg-dark text-center text-white fixed-bottom">
    <div class="container p-4 pb-0">
        <section class="">
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Inscreva-se para receber novidades:</strong>
                        </p>
                    </div>

                    <div class="col-md-5 col-10">
                        <div class="form-outline form-white mb-1">
                            <input type="email" id="form5Example29" class="form-control" placeholder="E-mail"/>
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-1">
                            Inscreva-se
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <!-- Section: Form -->
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Desenvolvido por Matheus Feu
        <a class="text-white" href="#"></a>
    </div>
</footer>